

@media (max-width: 1235px){
  .header{
    &__inner{
      padding-right: 10px;
    }
  }
  .top-slider{
    &__content{
      padding-left: 15px;
      padding-top: 40px;
    }
    &__img{
      width: 40%;
      object-fit: contain;
    }
  }
.info{
  &::after{
    right: 0;
  }
  &__item{
    width: 340px;
    padding: 20px;
  }
 }
 .blog{
   &__items{
     &::after{
       right: 8px;
     }
   }
 }
 .shop{
   &__inner{
     display: block;
   }
   &__filters{
     width: 100%;
     margin-right: 0;
     display: none;
     position: absolute;
     top: 20px;
     left: 0;
     z-index: 100;
     background-color: #fff;
   }
     &__filter-btn{
       display: block;
       border: none;
       background-color: $accent;
       padding: 0;
       width: 60px;
       height: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
       position: fixed;
       right: 0;
       z-index: 101;
       bottom: 50px;
     }
 }
 .shop-content{
   &__inner{
     display: grid;
     grid-gap: 30px;
     grid-template-columns: repeat(3, 1fr);
   }
   &__nogrid{
     display: flex;
   }
 }
 .product-slide{
   &__thumb{
     display: none;
   }
 }
 .product-one{
   &__slide{
     width: auto;
     margin-right: 0;
   }
 }
}
@media (max-width: 1235px){
  .blog{
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item-box{
    padding: 20px 15px;
  }
 }
 .page-404{
   &__img{
     width: 40%;
   }
 }
}
@media (max-width: 1200px){
  .person,
  .latest-post{
    display: none;
  }
  .blog-page{
    .filter-category,
    .filter-popular{
       display: none;
    }
    &__inner{
      flex-direction: column;
    }
    &__content{
      width: 100%;
      margin-right: 0;
    }
    &__aside{
      order: -1;
      width: 100%;
    }
    &__img{
      max-width: 100%;
      width: 100%;
    }
  }
  .filter-search{
    &__input{
    width: 100%;
  }
}
}
@media (max-width: 1100px){
.info{
  display: block;
  &__item{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
  &__item-title{
    margin: 20px 0 10px;
  }
 }
 .categories{
   &__items{
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto;
   }
   &__item{
     background-position: center top;
     &:nth-child(1){
       grid-row: auto;
     }
      &:nth-child(2){
       grid-column: auto;
       background-position: center right;
     }
   }
 }
 .contact{
   &__inner{
     display: block;
   }
   &__info{
     margin-right: 0;
     max-width: 100%;
     margin-bottom: 30px;
   }
   &__form{
     box-shadow: none;
     padding: 0;
   }
   &__form-box{
     display: block;
     input{
       width: 100%;
     }
   }
 }
}
@media (max-width: 1050px){
    .top-slider{
      &__item{
      .top-slider.img{
     display: none;
    }
   }
  }
   .slick-dots{
     margin-top: 0;
   }
   &__content{
     padding-top: 0;
     padding-bottom: 50px;
   }
  .footer-top{
    flex-wrap: wrap;
    &__item-form{
      max-width: 100%;
      margin-top: 30px;
    }
  }
  .video-fashion{
    &__inner{
      display: block;
    }
    &__popup{
      max-width: 100%;
      background-position: center top;
    }
    &__content{
      max-width: 100%;
    }
  }
  .product-item{
    &__img-box{
      height: 305px;
    }
  }
  .blog{
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item{
    max-width: 100%;
    img{
      width: 100%;
    }
  }
 }
 .product-one{
   &__inner{
     display: block;
   }
   &__content{
     width: 100%;
     margin-top: 35px;
   }
 }
 .product-slide{
   &__big{
     width: 100%;
     img{
       width: auto;
       margin: 0 auto;
     }
   }
 }
}
@media (max-width: 992px){
   .page-404{
   &__img{
     display: none;
   }
 }
}
@media (max-width: 860px){
    .menu{
      order: 1;
      margin-left: 40px;
    &__list{
     transform: translateY(-200%);
     position: absolute;
     width: 100%;
     top: 120px;
     left: 0;
     flex-direction: column;
     align-items: center;
     z-index: 5;
     transition: all .3s;
     background-color: #fff;
     &.menu-list--active{
       transform: translateY(0);
       transition: all .3s;
     }
    }
     &__list-item + .menu__list-item{
       padding-left: 15px;
     }
     &__list-item{
        width: 100%;
        padding: 0 15px;
        text-align: center;
     }
     &__list-link{
       padding: 12px 0;
       display: block;
     }
    &__btn{
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
         width: 100%;
         height: 3px;
         background-color: $title;
      }
      &::after,
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
  }
  .user-nav{
    margin-left: auto;
  }
  .footer-top{
    &__contact{
     width: 100%;
     margin-right: 0;
     margin-bottom: 30px;
    }
  }
  .product{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
   }
 }
.related-items{
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  }
}

@media (max-width: 768px){
   .categories{
     &__items{
       min-height: 385px;
     }
     &__item{
     background-image: none !important;
     justify-content: center;
     padding-left: 15px;
     padding-top: 0;
     display: flex;
     flex-direction: column;
       &:nth-child(1){
     background-color: #efdef0;
      }
       &:nth-child(2){
     background-color: #deeeee;
      }
       &:nth-child(3){
     background-color: #fff7a9;
      }
       &:nth-child(4){
     background-color: #ececec;
      }
    }
  }
 .blog{
    padding: 60px 0;
  &__items{
    grid-template-columns: repeat(1, 1fr);
  }
 }
}
@media (max-width: 768px){
  .comments-form{
    &__box-input{
      display: block;
    }
    &__tex-input{
      margin-bottom: 30px;
      width: 100%;
    }
    &__label{
      margin-right: 0;
      display: block;
    }
    &__rating-title{
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
@media (max-width: 700px){
  .shop-content{
     &__filter-buttons{
       display: none;
     }
     &__filter{
       padding: 20px 25px 20px 0;
     }
  }
}
@media (max-width: 620px){
  .top-slider{
    padding: 65px 0 30px;
    &__title{
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 25px;
    }
  }
 .footer-bottom{
   justify-content: center;
   &__copy{
     width: 100%;
     text-align: center;
   }
 }
 .blog-page{
   padding: 60px 0;
   &__item-box{
     padding: 20px;
   }
   &__img{
     height: 260px;
   }
 }

 .categories{
     grid-gap: 10px;
     &__items{
      grid-template-columns: repeat(1, 1fr);
     }
     &__item{
       padding: 15px 10px;
     }
    }
    .categories-info{
      padding: 120px 0 60px;
    }
    .video-fashion{
      padding: 60px 0;
      &__popup{
        height: 270px;
      }
      &__subtitle{
        padding-top: 40px;
        font-size: 18px;
      }
    }
    .product{
      padding: 60px 0;
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }
  }
  .product-item{
    max-width: 100%;
    &__images{
      width: 100%;
    }
  }
  .promo{
    padding: 60px 0;
    &__clock{
      justify-content: center;
      flex-wrap: wrap;
    }
    &__clock-item{
      margin: 20px 35px;
    }
   }
   .partners{
     padding: 60px 0;
     &__list{
       flex-wrap: wrap;
       justify-content: center;
       height: auto;
     }
     &__item{
       margin: 10px 35px;
     }
  }
  .blog-one{
    &__text{
      padding: 20px 10px;
    }
    &__info{
      display: block;
    }
    &__info-item{
      margin-bottom: 10px;
    }
    &__box{
      flex-wrap: wrap;
      padding-right: 10px;
    }
    .comments-form{
      padding-bottom: 0;
    }
  }
  .comments-form{
    &__box-input{
      display: block;
      margin-bottom: 0;
    }
    &__tex-input{
      width: 100%;
      margin-bottom: 30px;
    }
  }
    .shop-content{
   &__inner{
     grid-template-columns: repeat(1, 1fr);
   }
 }
}
@media (max-width: 500px){
  .header{
    &__inner{
      padding-right: 0;
    }
  }
  .menu{
    order: 0;
    &__list{
      top: 140px;
    }
  }
  .user-nav{
    width: 100%;
    justify-content: flex-end;
    margin-top: 35px;
    padding-right: 15px;
   }
   .partners{
     &__item{
       margin: 10px 21px;
     }
  }
  .product-tabs{
    &__top-item{
      display: block;
      margin-bottom: 10px;
      + .product-tabs__top-item{
        margin-left: 0;
      }

    }
  }
}

@media (max-width: 450px){
   .footer-top{
     &__about{
       margin-top: 30px;
     }
     &__form{
       flex-wrap: wrap;
     }
     &__form-input{
       max-width: 100%;
       margin-right: 0;
     }
     &__form-btn{
       width: 100%;
     }
     &__accept-img{
       margin-left: 15px;
     }
   }
    .promo{
      &__clock{
        margin-top: 30px;
      }
     &__clock-item{
      margin: 8px;
    }
    &__link{
      margin-top: 30px;
    }
   }
    .partners{
     &__item{
       margin: 10px 25px;
     }
  }
  .blog-one{
    &__box{
      display: block;
    }
    &__author-img{
      display: none;
    }
    &__text{
      blockquote{
       padding: 15px;
    }
   }
  }
  .comments{
    &__img{
      margin-right: 15px;
      min-width: 31px;
      height: 31px;
    }
  }
  .map{
    padding: 60px 0;
  }
  #map{
    height: 250px;
  }
  .contact__info-title{
    font-size: 28px;
    line-height: 34px;
  }
  .paginatio{
    &__arrows{
      display: none;
    }
  }
  .product-page{
    padding: 60px 0;
  }
  .product-slide{
    &__big img{
      height: 400px;
    }
  }
  .product-one{
    &__box{
      display: block;
    }
    &__price{
      margin-bottom: 5px;
      padding-left: 5px;
    }
    &__item-btn{
      margin-left: 0;
    }
  }
  .product-filter__size label{
    margin-right: -1px;
  }
        .comments{
        &__content-date{
          display: none;
        }
      }
  .related-items{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px){
    .top-slider{
    &__title{
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }
    &__text{
      margin-bottom: 30px;
    }
  }
  .info{
  &__item-title{
   font-size: 20px;
  }
 }
  .blog-box{
   display: block;
   &__date{
     margin-top: 10px;
   }
 }
 .blog{
   &__item-imglink{
     img{
       height: 220px;
   } 
  }
 }
 .modal__link{
   margin: 0 20px;
 }
 .blog-page{
   &__item-box{
     padding: 10px 5px;
   }
   &__img{
     height: 170px;
   }
   &__slider{
     .slick-next{
       right: 10px;
     }
     .slick-prev{
       left: 10px;
     }
   }
 }
 .filter__item{
   padding: 25px 15px;
 }
 .contact{
   &__info-item{
     padding-left: 55px;
     &::before{
       top: 1px;
       width: 50px;
       height: 50px;
     }
     &::after{
       top: 16px;
       left: 16px;
     }
   }
 }
}